<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052589681589-j0np6376p8u9gmtac35056tpo8c7hvv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052589681589-j0np6376p8u9gmtac35056tpo8c7hvv0</string>
	<key>API_KEY</key>
	<string>AIzaSyDrw3sRvqWWuhu0LHPP7tGSx0TcmrlY8hs</string>
	<key>GCM_SENDER_ID</key>
	<string>1052589681589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fragrance</string>
	<key>PROJECT_ID</key>
	<string>fragrance-of-mastership</string>
	<key>STORAGE_BUCKET</key>
	<string>fragrance-of-mastership.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052589681589:ios:8457a3c8f04bc748c447fc</string>
</dict>
</plist>